* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 1rem;
  background-color: black;
}
button {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  transition: all;
}
button:hover {
  background-color: red;
}
h1 {
  color: white;
}
span {
  color: red;
  font-size: 2rem;
}
.multiply {
  font-size: 1rem;
}
